@model FUNewsManagementSystem.Web.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "Login";
}
<h1>Member Login</h1>
<div class="alert alert-info">
    Admin: admin@FUNewsManagementSystem.org / @("@@abc123@@")<br />
    Staff: staff@funews.org / 123<br />
    Lecturer: lecturer@funews.org / 123
</div>
<form asp-action="Login" method="post" class="col-md-5">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3"><label asp-for="Email" class="form-label"></label><input asp-for="Email" class="form-control" /></div>
    <div class="mb-3"><label asp-for="Password" class="form-label"></label><input asp-for="Password" class="form-control" /></div>
    <button class="btn btn-primary">Login</button>
</form>
@section Scripts { <partial name="_ValidationScriptsPartial" /> }
